/* تأكد من جعل الجسم يملأ الشاشة */
body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100vw;

  scroll-behavior: smooth;

    font-family: "Cairo", sans-serif;
  font-optical-sizing: auto;
  font-weight:200;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}
a{
    text-decoration: none;
    /* color: transparent; */
}
/* *{
    box-sizing: border-box;
} */
/* إخفاء شكل السكروول لمتصفحات Webkit (Chrome, Edge, Safari) */
body::-webkit-scrollbar {
  display: none;
}

/* إخفاء السكروول في فايرفوكس */
body {
  scrollbar-width: none; /* Firefox */
    overflow-x: hidden;
    overflow-y: auto;   

}


body, html {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

.App {
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
    overflow-y: auto;   

}



.app-container {
  position: relative;
  background-color: black;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
}

/* خلفية الـ Squares */
.canvas-bg {
 position: absolute;
  top: 0;
  left: 0;
  /* z-index: -1; */
  width: 100%;
  min-height: 100%;
  
}

/* النص أو المحتوى */
.content {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

}




/* السكروول */
::-webkit-scrollbar {
  width: 10px; /* عرض الشريط */
}

/* السكة الخلفية */
::-webkit-scrollbar-track {
  background: black; /* السكة مال السكروول */
}

/* زر السكروول نفسه */
::-webkit-scrollbar-thumb {
  background: white; /* لون الشريط */
  border-radius: 10px;
}

/* عند التحويم */
::-webkit-scrollbar-thumb:hover {
  background: #ccc; /* لون أخف عند المرور */
}



